
.inputs {
 background: rgba(46, 53, 88, 1);
}

.sup {
  background: linear-gradient(88.43deg, #2F3453 11.5%, #242845 76.7%);

}
.sin {
  background: linear-gradient(271.88deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);

}

